<ion-view view-title="网关设置">

    <ion-content class="has-header">
        <ion-list>
            <ion-item ui-sref="app.gateway-overview" class="item-icon-left item-icon-right">
                <i class="icon ion-wifi"></i>
                <i class="icon ion-ios-arrow-forward"></i>
                网关概览
            </ion-item>

            <ion-item ui-sref="app.gateway-wifi" class="item-icon-left item-icon-right">
                <i class="icon ion-ios-cloud-upload-outline"></i>
                <i class="icon ion-ios-arrow-forward"></i>
                WIFI设置
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
